fastapi
uvicorn[standard]
pydantic-settings
requests
kafka-python
python-dotenv
python-multipart
torchio
scikit-image
pandas
tritonclient[grpc]
scipy
opencv-python
matplotlib
pydicom
dicomweb-client
nibabel
numpy
python-docx
dicomweb-client